body{
    background-color: #fefeeb;
}

.title{
    font-size: 80px;
    text-align: center;
    color: #8f353d;
}


hr{
    color: #8f353d;

}

.blocos{
    display: flex;
    flex-direction: row;

    padding: 3%;
}

.bloco1{
    
  border-color: #8f353d;
  border-radius: 2%;
  padding: 1%;
   
}
.bloco2{

  border-color: #8f353d;
  border-radius: 2%;
  padding: 1%;
   
}